rules_version = '2';
service cloud.firestore {
	// Firestore のルートパス指定、これは必ず必要
  match /databases/{database}/documents {

		// match 文の brace {} はワイルドカードで、リクエストごとにその内容がわかる
	  // match 文のブロック内では、このワイルドカード部分を変数として扱うことができる
		// このブロックでは、database にリクエストのデータベースIDが入る

    // リクエストが持つ認証情報を取得する
    function auth() { // function で関数を定義できる
      return request.auth; // request には、リクエスト情報が入っている
    }

    // ユーザー認証ずみのリクエストを判定する
    // 匿名認証を許容する
    function isAuthenticated() {
      return auth().uid != null;
    }

    // ユーザーIDを受け取り、リクエストに含まれるユーザーと一致するかを判定する
    function isUserAuthenticated(userId) {
      return userId == auth().uid;
    }

    // リクエストに含まれるユーザー情報が、管理者ユーザーアカウント化を判定する
    function isAdmin() {
      // 変数を使用してget()およびexists() ) のパスを作成する場合、 $(variable)構文を使用して変数を明示的にエスケープする必要がある
      return exists(/databases/$(database)/documents/admins/$(auth().uid));
    }

    match /users/{userId} {
      // (匿名を含む)ユーザー認証されたリクエストの場合
      allow get: if isAuthenticated();

      // ユーザー認証されたリクエストまたは管理者のリクエストの場合
      allow create, update, delete: if isUserAuthenticated(userId) || isAdmin();
    }

    match /videos/{videoId} {
      allow read: if isAuthenticated();

      // ユーザー認証されたリクエストまたは管理者のリクエストの場合
      allow create, update, delete: if isUserAuthenticated(userId) || isAdmin();
    }

    match /videos/{video} {
      // (匿名を含む)ユーザー認証されたリクエストの場合
      allow read: if isAuthenticated();
    }
  }
}
